.topnav {
  background-color: rgb(191, 191, 191);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header {
  color: rgb(255, 255, 255);
  font-size: 5em;
  text-align: center;

  background-color: rgb(255, 0, 0);
  background-position: center;
  padding: 5%;

  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
}

.Districts {
  display: flex;
  gap: 10%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2%;
}

.Districts img {
  width: 50%;
  height: 75%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.Title {
  margin-top: 10%;
  text-align: center;
  font-size: 3em;

  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  color: skyblue;
}

figure {
  background: #fff;
  border-radius: 20%;
  box-shadow: 0 4% 10% rgba(0, 0, 0, 0.2);
  overflow: hidden; /* makes rounded corners apply to img + caption */
  width: 50%;
  margin: 0;
  text-align: center;
}

.position-absolute {
  margin-top: 10rem;
  color: red;
}

.missionbooks {
  display: flex;
  gap: 10%;
  margin: 5%;
}

.missionbooks img {
  width: 85%;
  height: 75%;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 0 4% 8% rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.missionbooks figure {
  text-align: center;
}

.MissionTitle {
  margin-top: 5%;
  text-align: center;
  font-size: 3em;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: burlywood;
}

.HaightTitle {
  margin-top: 5%;
  text-align: center;
  font-size: 3em;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  color: olivedrab;
}

.NoeValleyTitle {
  margin-top: 5%;
  text-align: center;
  font-size: 3em;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  color: royalblue;
}

.CastroTitle {
  margin-top: 5%;
  text-align: center;
  font-size: 3em;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
}
